.form-search {
    width: 50%;
    text-align: center;
    margin-left: 5%;
}

.form-title {
    width: 98%;
    font-weight: 700;
}

.dt {
    /* width: 40%; */
    padding-left: 27%;
}

.logo-img {
    display: flex;
    justify-content: center;
}

ul.navbar-nav.ml-auto {
    width: 100%;
    margin: 0 !important;
}

.dt span {
    line-height: 1.2;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 3px 3px 5px #000;
    font-family: 'UTMAvoBold';
}

#navbarSupportedContent {
    margin-left: 5%;
}

.img-news-tintuc {
    margin-right: 4%;
    width: 100%;
    overflow: hidden;
}

.img-news-tintuc img {
    width: 100%;
    border-bottom-right-radius: 0;
}

.img-news-tintuc:hover img {
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
}

.img-news-tintuc img {
    transition: all 0.6s ease;
}

.cover-row:hover img {
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
    overflow: hidden;
}

.cover-row img {
    transition: all 0.6s ease;
}

.cover-row p {
    overflow: hidden;
    display: block;
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.border-content-tintuc .main-content-a {
    width: 40%;
}

.content_image {
    max-width: 100%;
}

.des-news {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.title-news {
    color: #333;
    font-size: 20px;
    display: block;
    line-height: normal;
    margin-bottom: 17px;
    font-weight: bold;
}

.product-new {
    font-size: 30px;
    font-weight: bold;
}

.cover-bottom-nhadat h6 {
    color: #333;
    font-size: 20px;
    display: block;
    line-height: normal;
    margin-bottom: 5px;
    font-weight: bold;
}

.cover-bottom h6 {
    font-size: 18px;
    color: #333;
    line-height: normal;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.content_tintuc {
    padding-top: 15px;
    padding-left: 0;
}

.acre-map {
    margin-bottom: 10px;
}

.acre-map:hover span {
    color: #006600;
}

.acre-map span {
    font-weight: 600;
}

.title_tintuc::after {
    content: none;
}

.info_tintuc {
    flex-direction: column;
}

#Capa_1 {
    width: 20px;
    height: 20px;
}

#Capa_2 {
    width: 20px;
}

.menu-category .active {
    padding-left: 25px;
    padding-right: 25px;
}

.slide-menu {
    max-width: 23%;
}

.cover:hover img {
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
    overflow: hidden;
}

.cover img {
    transition: all 0.6s ease;
}

.cover a {
    overflow: hidden;
    display: block;
}