.form-search {
    width: 50%;
    text-align: center;
    margin-left: 5%;
}

.form-title {
    width: 98%;
    font-weight: 700;
}

.dt {
    /* width: 40%; */
    padding-left: 27%;
}

.logo-img {
    width: 100%;
}

ul.navbar-nav.ml-auto {
    width: 100%;
    margin: 0 !important;
}

.dt span {
    line-height: 1.2;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 3px 3px 5px #000;
    font-family: 'UTMAvoBold';
}

.img-news-tintuc {
    margin-right: 4%;
    width: 100%;
    overflow: hidden;
}

.img-news-tintuc img {
    width: 100%;
    border-bottom-right-radius: 0;
}

.img-news-tintuc:hover img {
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
}

.img-news-tintuc img {
    transition: all 0.6s ease;
}

.cover-row:hover img {
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
    overflow: hidden;
}

.cover-row img {
    transition: all 0.6s ease;
}

.cover-row p {
    overflow: hidden;
    display: block;
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.border-content-tintuc .main-content-a {
    width: 40%;
}

.content_image {
    max-width: 100%;
}

.des-news {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.title-news {
    color: #333;
    font-size: 20px;
    display: block;
    line-height: normal;
    margin-bottom: 17px;
    font-weight: bold;
}

.product-new {
    font-size: 30px;
    font-weight: bold;
}

.cover-bottom-nhadat h6 {
    color: #333;
    font-size: 20px;
    display: block;
    line-height: normal;
    margin-bottom: 5px;
    font-weight: bold;
}

.cover-bottom h6 {
    font-size: 18px;
    color: #333;
    line-height: normal;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.content_tintuc {
    padding-top: 15px;
    padding-left: 0;
}

.acre-map {
    margin-bottom: 10px;
}

.acre-map:hover span {
    color: #006600;
}

.acre-map span {
    font-weight: 600;
}

.title_tintuc::after {
    content: none;
}

.info_tintuc {
    flex-direction: column;
}

#Capa_1 {
    width: 20px;
    height: 20px;
}

#Capa_2 {
    width: 20px;
}

.menu-category .active {
    padding-left: 25px;
    padding-right: 25px;
}

.slide-menu {
    max-width: 23%;
}

.cover:hover img {
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
    overflow: hidden;
}

.cover img {
    transition: all 0.6s ease;
}

.cover a {
    overflow: hidden;
    display: block;
}

.hot_head1 {
    background: url(../images/phone_bg.png) no-repeat left center;
    font-family: 'Arial';
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: #ff2020;
    line-height: normal;
    padding-left: 27px;
    padding-bottom: 5px;
}

.em_head {
    background: url(../images/mail.png) no-repeat left center;
    font-family: 'Arial';
    font-size: 12px;
    color: #686868;
    padding-left: 25px;
}

.banner_image {
    width: 79%;
}

.hot_head1 p {
    margin-bottom: 0;
}

.hinh_chonct {
    background: url(../images/cct.png) no-repeat;
    width: 160px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.wrapper h4 {
    font-weight: bold;
    text-decoration: none;
    color: #007c42;
    font-family: 'fonta';
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
}

.standard-content {
    font-family: 'RobotoRegular';
    font-size: 15px;
}

.distance:after {
    position: absolute;
    content: '';
    background: #007c42;
    width: 70px;
    height: 2.5px;
    left: calc(50% - 35px);
    bottom: 0;
}

.discription {
    text-align: center;
    padding: 0 70px;
    padding-top: 15px;
}

div.copy-right {
    /* background: #0051ab; */
    border-top: 1px rgba(255, 255, 255, 0.41) solid;
    line-height: 40px;
}

div.wapper {
    margin: auto;
    max-width: 1210px;
    padding: 0px 5px;
}

div.copy-right .cop-l {
    /* height: 40px; */
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    width: 470px;
    float: left;
    margin-top: 18px;
}

div#lienket {
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    /* line-height: 40px; */
    box-sizing: border-box;
    width: 170px;
    margin-left: 80px;
    float: left;
}

div.copy-right .cop-r {
    /* height: 40px; */
    /* line-height: 40px; */
    color: #fff;
    font-size: 14px;
    text-align: right;
    width: 350px;
    float: right;
}

div.tieude_giua {
    color: #fff;
    padding-left: 20px;
    font-size: 14px;
    background: #007c42;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    position: relative;
    font-family: 'RobotoCondensedRegular';
    font-size: 18px;
}
.banner-imgall{
    margin-top: 0px;
    background: url(../images/bg_imgAll.png) top center no-repeat;
    padding: 45px 0;
    background-size: 100% 100%;
}
.banner-imgall h2{color: #fff;}
.banner-imgall .distance:after{background: #fff;}
.banner-imgall .distance{padding-top: 0;}
#bando_footer iframe {
    width: 100%;
    height: 440px;
}